<div class="container">
  <div class="header">
    <h1>Welcome to <%= @restaurant.name %></h1>
  </div>
</div>

<div class="container">
  <div class="restaurant-informations">
    <p>You can find us @ <strong><%= @restaurant.address %></strong></p>
    <% if @restaurant.phone_number != nil %>
      <p>Phone number : <%= @restaurant.phone_number %></p>
    <% end %>
    <p>Category: <%= @restaurant.category %></p>
  </div>
</div>

<div class="container">
  <div class="restaurant-reviews">
    <%= link_to new_restaurant_review_path(@restaurant) do %><i class="fas fa-edit"><span>Add a review</span></i><% end %>
    <% if @restaurant.reviews.length != 0 %>
      <p>Reviews for <%= @restaurant.name %>:</p>
      <ul class="list-group">
        <% @restaurant.reviews.each do |review| %>
          <li class="list-group-item">
            <p class="review-content"><em><%= review.content %></em></p>
            <p class="review-rating">Rating: <span><strong><%= review.rating %></span></strong></p>
          </li>
        <% end %>
      </ul>
    <% end %>
  </div>
</div>

<div class="container">
  <div class="footer">
    <%= link_to 'Back to Restaurants List', restaurants_path, :class => 'btn btn-danger btn-sm' %>
  </div>
</div>
